{% extends 'base.html' %}

{% block Title %}
    Startseite
{% endblock Title %}

{% block content %}
    <h1>Herzlich Willkommen</h1>
    <p>BZ-Tracker berechnet den Langzeitzucker-Wert HbA1c.</p>
    <hr>

    <p> Diese Auswertung der Messwerte, dient lediglich zu Informationszwecken. Für medizinische Beratung oder eine Diagnose solltest du dich an einen Experten wenden.</p>

    <p>Der geschätzte HbA1c Wert (Langzeitzucker), kann von einem Laborergebnis abweichen.</p>
    <hr>
   
    

    <p>Für Erstbenutzung wähle den Link 'Registrieren'. </p>
    <p>Wenn du schon registriert bist, dann wähle den Link 'Anmelden' </p>
    <div class="btn-group">
 
</div>
{% endblock content %}

    
    
    
